
<div class="login-area">
  <div class="container">
    <div class="login-box ptb--100">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="login-form-head">
          <h4>Sign up</h4>
          <p>Hello there, Sign up and Join with Us</p>
        </div>

        <div class="login-form-body">
          <div class="form-gp">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <i class="ti-email"></i>
          </div>

          <div class="form-gp">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <i class="ti-lock"></i>
          </div>

          <div class="form-gp">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <i class="ti-lock"></i>
          </div>

          <div class="submit-btn-area">
            <%= f.submit "Sign up" %>
            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
