
<div class="login-area">
  <div class="container">
    <div class="login-box ptb--100">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'registration-form' }) do |f| %>
        <div class="login-form-head">
          <h4>Sign up</h4>
          <p>Hello there, Sign up and Join with Us</p>
        </div>

        <div class="login-form-body">
          <div class="form-gp focused">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'email_validate' %>
            <i class="ti-email"></i>
            <span class="is-invalid text-danger email_validation">
              <%= server_validations('email') %>
            </span>
          </div>

          <div class="form-gp focused">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" , class: 'pwd_validate'%>
            <i class="ti-lock"></i>
            <span class="is-invalid text-danger pwd_validation">
              <%= server_validations('password') %>
            </span>
          </div>

          <div class="form-gp focused">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <i class="ti-lock"></i>
          </div>

          <div class="submit-btn-area">
            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
          </div>
      <% end %>
      <div class="form-footer text-center mt-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

