<!DOCTYPE html>
<html>
  <head>
    <title>Amass2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag controller_name, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_name != 'sessions' %>
      <%= render 'shared/left_panel' %>
    <% end %>
    <div class="main-content">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
